<!-- <p>chat works!</p>
<div *ngIf="user">
  <p>my uid = {{user.uid}}</p>
  <ul *ngIf="firebaseService.mensajes">
      <li class="text" *ngFor="let item of firebaseService.mensajes" >
        <small>{{item.nombre}} - {{item.uid}}</small>
        <p [ngClass]="{'my-messages': item.uid === user.uid, 'other-messages' : item.uid !== user.uid}">{{item.mensaje}}</p>
      </li>
    </ul>
</div> -->


<div *ngIf="user">
  
    <div *ngFor="let element of firebaseService.mensajes" [ngClass]="{'my-messages-position': user.uid === element.uid, 'other-messages-position' : user.uid !== element.uid}">
      <div class="message" [ngClass]="{'my-messages': element.uid === user.uid, 'other-messages' : element.uid !== user.uid}">
          <span >
              {{element.mensaje}}
          </span>
          <div class="time text-right"><br>{{ element.fecha | date:'shortTime' }}</div>
      </div>
     
    </div>
  
</div>


